<nav class="navbar hero-head" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://imgur.com/3YbZCe7.png" width="112" height="100">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/leaderboard">
                Leaderboard
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Commands
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/commands/moderation">
                        Moderation
                    </a>
                    <a class="navbar-item" href="/commands/information">
                        Information
                    </a>
                    <a class="navbar-item" href="/commands/utility">
                        Utility
                    </a>
                    <a class="navbar-item" href="/commands/economy">
                        Economy
                    </a>
                    <a class="navbar-item" href="/commands/music">
                        Music
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <% if(user) {%>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span class="icon is-small">
                                <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>" class="is-rounded" style="border-radius: 50%;">
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                            <a href="/" class="dropdown-item">
                                <%=user.username%>#<%=user.discriminator%>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="/logout" class="dropdown-item is-danger">
                              Logout
                            </a>
                          </div>
                        </div>
                      </div>
                <% } else {%>
                <div class="buttons">
                    <a class="button is-light"
                        href="https://discordapp.com/api/oauth2/authorize?client_id=634766962378932224&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code&scope=identify%20guilds">
                        Login
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>