/* .hero {
    background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
}

@media (max-width: 1024px) {
    .hero {
        background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
    }
}

@media (max-width: 768px) {
    .hero {
        background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
    }
} */